* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100vh;   /* FULL SCREEN HEIGHT */
  border: none;
}
